{% load otree %}

<div class="card bg-light m-3">
    <div class="card-body">
        <h4>Правила игры</h4>
        <ul>
            <li><strong>Игрок 1 (Отправитель)</strong> получает {{ Constants.endowment }} очков</li>
            <li>Отправитель решает, сколько отправить Игроку 2</li>
            <li>Отправленная сумма <strong>утраивается</strong> (×{{ Constants.multiplication_factor }})</li>
            <li><strong>Игрок 2 (Получатель)</strong> получает утроенную сумму</li>
            <li>Получатель решает, сколько вернуть Отправителю</li>
        </ul>
        <p class="text-info">В каждом новом раунде пары случайным образом перемешиваются!</p>
    </div>
</div>